In [2]:
import pandas as pd
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'browser'

In [3]:
df = pd.read_csv(r"C:\Users\cauai\Desktop\repos\repo\aya-case\aya-case\data\raw\dados_appsflyer.csv")

In [5]:
df.head()

,usuario_id,data_instalacao,fonte_midia,custo,plataforma,versao_app,marca,modelo,canal
0,dcdff191-8e4f-4672-aa21-61ddd6e16b65,2025-01-14 17:47:08,Orgânico,0.000000,Android,1.1,LG,Wing,mms
1,5d5dfeaa-bb0c-4766-ad94-7135abe976f8,2025-03-21 11:19:42,Orgânico,0.000000,iOS,1.1,Apple,iPhone 12,email
2,f081b639-9f96-415a-b139-a37336b25350,2025-03-09 19:15:05,Facebook Ads,4.838845,iOS,2.0,Apple,iPhone 13,sms
3,0ea9d453-5d0a-409c-ae9d-a5804bcabb76,2025-01-29 04:05:52,Orgânico,0.000000,iOS,1.0,Apple,iPhone 12,push
4,a1da2ac0-2c8c-459e-88a7-99207549a541,2025-03-15 05:39:23,Facebook Ads,4.941831,iOS,1.2,Apple,iPhone 12,mms

In [7]:
df.dtypes

usuario_id          object
data_instalacao     object
fonte_midia         object
custo              float64
plataforma          object
versao_app         float64
marca               object
modelo              object
canal               object
dtype: object

In [ ]:
df.describe()

             custo   versao_app
count  1000.000000  1000.000000
mean      1.799172     1.326900
std       1.696431     0.399482
min       0.000000     1.000000
25%       0.000000     1.000000
50%       1.508761     1.200000
75%       3.302689     2.000000
max       4.999194     2.000000

In [8]:
df.isnull().sum()

usuario_id         0
data_instalacao    0
fonte_midia        0
custo              0
plataforma         0
versao_app         0
marca              0
modelo             0
canal              0
dtype: int64

In [9]:
df.duplicated().sum()

np.int64(0)

In [11]:
df['fonte_midia'].value_counts()

fonte_midia
Google Ads      341
Facebook Ads    335
Orgânico        324
Name: count, dtype: int64

In [ ]:
#Custo total e médio por fonte de mídia
df.groupby('fonte_midia')['custo'].agg(['sum', 'mean'])

                     sum      mean
fonte_midia
Facebook Ads  839.890253  2.507135
Google Ads    959.282134  2.813144
Orgânico        0.000000  0.000000

In [ ]:
#custo total por canal
df.groupby('canal')['custo'].sum().sort_values(ascending=False)

canal
email    511.024824
sms      483.103275
push     403.124729
mms      401.919560
Name: custo, dtype: float64

In [15]:
#Instalação por plataforma
df['plataforma'].value_counts()

plataforma
Android    506
iOS        494
Name: count, dtype: int64

In [17]:
#Custo por aquisição
cpa_por_canal = df.groupby('canal').agg({'custo': 'sum', 'usuario_id': 'count'})
cpa_por_canal['CPA'] = cpa_por_canal['custo'] / cpa_por_canal['usuario_id']
cpa_por_canal

            custo  usuario_id       CPA
canal
email  511.024824         279  1.831630
mms    401.919560         232  1.732412
push   403.124729         234  1.722755
sms    483.103275         255  1.894523